body, html { 
  color: #000000;
  background: rgb(234,234,240);
  margin-left:auto;
  margin-right:auto;
}


body {
    font-family: arial, sans-serif ;
    background: rgb(234,234,240);
    width: 95%;
    font-size: 9pt;
}


img {  
  border-style: none;
}

h3 {
        font-size: 145% ;
        font-weight: bold ;
        color: #4A4A3C ;
        color-grey: #bbbbbb
}


a {
        text-decoration: none ;
        color: #991133 ;
}

a:hover {
        text-decoration: underline
}


ul {
	list-style-type: none;
	padding-left: 2.5em;
}

li {
	/*padding-bottom: 20px*/
}

table td{
    border:none;
}

#c2{
    width:100%;
    height:600px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#header1{
    height:230px;
}

.content{
    position:relative;
    padding:0;
    top:15px;
}

.info{
    position:relative;
    padding:0;
    height: 100%;
}
.info td{
    padding: 0px;
    padding-bottom:4px;
}

.page-header{
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    height:120px;
    -moz-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
    background-color:rgb(249,249,255);
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.header-text{
    position:relative;
    top:70px;
}

div.span10{
    position:relative;
    width:300px;
    height: 400px;
    margin: auto;
    padding:0;
    
}

div.span4{
    position:relative;
    margin-left:75px;
    width:850px;
    height:400px;
    padding:0;
    left:25px;
}



div.display{
    width:750px;
    height:424px;
    top:-24px;
    margin: 0;
}

ul.tabrow{
    line-height:24px;
    width: 100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:0;
}

ul.tabrow:before {
    z-index:1;
}
ul.tabrow li{
    line-height:24px;
    display:inline-block;
    position:relative;
    z-index:1;
    text-align:center;
    list-style:none;
    border: 1px solid;
    border-color: rgb(38,0,117);
    margin: 0 7px;
    padding: 0 10px;
    border-bottom: none;
    background: -moz-linear-gradient(top, white, #c7c7cc);
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#c7c7cc));
    background-image: -o-linear-gradient(rgb(255,255,255),rgb(199,199,204));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c7c7cc');
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

ul.tabrow li a{
    text-decoration:none;
}


ul.tabrow li.selected{
    background-color:#f9f9ff;
    background:#f9f9ff;
    z-index:3;
}

.display{
    position:relative;
}
.tab{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    top: 22px;
    z-index:1;
    
}

.tab .loadbar{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    top:180px;
    left:300px;
    z-index:1;
}
#tab_content_2,#tab_content_3,#tab_content_4{
    display:none;
}

ul.tabrow li:before,
ul.tabrow li:after {
    position: absolute;
    bottom: 0px;
    width: 6px;
    height: 6px;
    content: " ";
    z-index:0;
}

ul.tabrow li:after, .tabrow li:before {
    border: 1px solid #260075;
}
ul.tabrow li:before {
    z-index:0;
    left: -7px;
    border-bottom-right-radius: 4px;
    border-width: 0 1px 1px 0;
    box-shadow: 1px 1px 0 #c7c7cc;

}
ul.tabrow li:after {
    z-index:0;
    right: -7px;
    border-bottom-left-radius: 4px;
    border-width: 0 0 1px 1px;
    box-shadow: -1px 1px 0 #c7c7cc;

}

.tabrow li.selected:before {
    box-shadow: 1px 1px 0 #f9f9ff;
}
.tabrow li.selected:after {
    box-shadow: -1px 1px 0 #f9f9ff;
}

/*.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}*/





DIV.section {
    border-left:1px solid #000;
    border-top:1px solid #000;
/*    border-style: solid;
    border-color: white;
    border-width: 2px;*/
/*    background-image: -o-linear-gradient(left,rgba(249,249,255),rgba(180,198,220));
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(249,249,255)), to(rgb(180,198,220)));
    background: -moz-linear-gradient(-45deg, rgb(249,249,255),rgb(180,198,220));*/
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(249,249,255);
    height:400px;
    /*width:900px;*/
/*    -moz-box-shadow:inset 0 0 5px rgb(17,0,54);*/
    -moz-box-shadow:2px 2px 2px #333333;
    box-shadow:2px 2px 2px #333333;
/*    background-image: -o-linear-gradient(left,rgb(249,249,255),rgb(230,234,240));*/
}


#feedback_link{
    text-align:right;
}
#section_text{
    padding: 10px;
    text-align:left;
}
#banner_1{
    position: relative;
    background-color: rgb(44,44,88);
    height: 30px;
}

#section_2{
    position:relative;
    top:30px;
}
DIV.about {
/*    color:rgb(38,0,117);*/
/*    border-radius:10px;
    -moz-border-radius:10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
    background-image: -o-linear-gradient(left,rgb(249,249,255),rgb(230,234,240));
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(249,249,255)), to(rgb(230,234,240)));
    background: -moz-linear-gradient(-45deg, rgb(249,249,255),rgb(230,234,240));*/
    width:900px;
    background-color:rgb(249,249,255);
    border-left: solid 3px rgb(44,44,88);
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow:2px 2px 2px #333333;
/*    -moz-box-shadow:inset 0 0 5px black;*/
    box-shadow:2px 2px 2px #333333;
}

DIV.about h3{
/*    color:rgb(38,0,117);*/
    color: black;
}

/*DIV.section table{
    color:rgb(38,0,117);
}*/

DIV.section input{
    color:black;
}


DIV.progresscontainer {
    margin-left:auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}

DIV.map {
    position: relative;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    border: 3px solid;
    border-color: rgb(38,0,117);
    
}

#drop_menu_1{
    position:absolute;
    left: 275px;
    top: 130px;
}

Div.label{
    width: 150px;
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 5px;
}

DIV.radiodiv {
    position:absolute;
    top:-15%;
    left: 45%;
    text-align: left;
}

DIV.graphdisplay {
    padding: 0px;
}

DIV.progressbar {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#error{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    width:200px;
    height:200px;
    font-size: 20px;
}


DIV.graphdiv {
    width: 849px;
    height: 400px;
    position:absolute;
    left:1px;
    /*
    -moz-border-radius:10px;
    border-radius:10px;*/
    
}


DIV.outergraphdiv {
    top:2px;
    width:850px;
    height: 400px;
    margin-left:auto;
    margin-right: auto;
    border: 0px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    background-color:#f9f9ff;
    background:#f9f9ff;
    /*border-left:3px solid rgb(44,44,88);*/
    /*border-radius:10px;
    -moz-border-radius:10px;*/
    border-color: rgb(38,0,117);
    position:relative;
    z-index:1;
    -moz-box-shadow:2px 2px 2px #333333;
    box-shadow:2px 2px 2px #333333;
/*    -moz-box-shadow:2px 2px 2px #333333;
    box-shadow:2px 2px 2px #333333;*/
}

/*#graph_div_outer_1 {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:10px;
    
}
#graph_div_outer2 {
    position: relative;
    top:40px;
}*/

#label_1 {
    position:absolute;
    top:-20px;
    left:230px;
    
}

#label_2 {
    position:absolute;
    top:-45px;
    left:230px;
}
DIV.projects ul {
	list-style-type: circle;
	padding-left: 2.5em;
}

DIV.projects li {
	padding-bottom: 0px;
}


DIV.traps a {
   background: #ffffff;
   color: #ffffff;
   visited: #ffffff;
}




a:visited { 
  background: #ffffff;
  color:  #408860;
}


p.lastupdated { 
  font-size: 70%;
  font-style: italic;
  margin-bottom: 0;
}

p.contact {
  margin-top: 0;
  font-size: 70%;
}

p.footnote {
  margin-top: 0;
  font-size: 85%;
}
