<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xml:lang="en" lang="en"> 

<head> 
  <title>Network Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <script src="/static/jquery-latest.js"></script>
  <script src="/static/highcharts.js"></script>
  <script src="/static/js/modules/exporting.js"></script>
  <script src="/static/device.js"></script>
  <script src="/static/rendergraphs.js"></script>
  
  
  
  <meta name="Author" content="Nick Feamster" /> 
</head>


<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Network Dashboard</a>

          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="http://projectbismark.net">BISMark</a></li>
            <li><a href="http://gtnoise.net">GTNoise</a></li>
          </ul>
        </div>
      </div>
</div>

{% block content %} {% endblock %}

{% block footer %} 
<hr />
<!--
<p class="footnote"> 
  <a href="/">Home</a> | 
  <a href="http://projectbismark.net/">BISMark</a> |
  <a href="http://gtnoise.net/">GTNoise</a> |
</p>
-->
{% endblock %}

</body>
</html>


