<html xml:lang="en" lang="en"> 

<head> 
  <title>Network Dashboard</title> 
  <link rel="stylesheet" type="text/css" href="/static/style.css" /> 
  <meta name="Author" content="Nick Feamster" /> 
</head>


<body>

{% block content %} {% endblock %}

{% block footer %} 
<hr />
<p class="footnote"> 
  <a href="/">Home</a> | 
  <a href="devices/">Devices</a> |
  <a href="http://www.bufferbloat.net/projects/bismark/">BISMark</a> |
  <a href="http://gtnoise.net">GTNoise</a> 
</p> 
{% endblock %}
</body>
</html>


