{% extends "base.html" %}
{% block content %}

<div class="content">
    <div style="float: right">
        <a class="btn" href="/"><i class="icon-home"></i> Home</a>
    </div>
	<br /><br />
	<h2>ISP averages for {{country}}</h2>
	<ul class="breadcrumb">
			<li>
				<a href="/">Home</a> <span class="divider">/</span>
			</li>
			<li class="active">
				{{country}}
			</li>
		</ul>
	<br /><br /><br />
	<form>
		<input id="country_name" type="hidden" value="{{country}}" />
		<input id="start_date" type = "hidden" value="{{start_year}}-{{start_month}}-{{start_day}}" />
		<input id="end_date" type = "hidden" value="{{end_year}}-{{end_month}}-{{end_day}}" />
	</form>
    <table class="table table-striped table-condensed" id="table_3">
		<tr>
			<form class="form-horizontal">
			  <fieldset>
				<div class="control-group">
				  <label class="control-label" for="calendar">Select Date Range:</label>
				  <div class="controls">
					<div class="input-prepend">
					  <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="reservation" id="calendar" value="{{start_year}}-{{start_month}}-{{start_day}}   to  {{end_year}}-{{end_month}}-{{end_day}}" />
					</div>
				  </div>
				</div>
			  </fieldset>
			</form>
		</tr>
        <tr>
            <td>Show:</td>
            <td class ="right">
				<select id="measurement_type">
					<option value="down" selected = "selected">Download Throughput</option>
					<option value="up">Upload Throughput</option>
					<option value="lm">Latency (Last-Mile)</option>
					<option value="rtt">Latency (Round-Trip)</option>
				</select>
			</td>
        </tr>
		<tr>
			<td></td>
			<td class = "right">
				<button class="btn" id="compare_button" onclick="compareByCountry('{{country}}')"> Update Data</button>
			</td>
		</tr>
    </table>
	<ul id="tab" class="nav nav-tabs" style="clear: both">
		<li class="active"><a href="#graph_avg" data-toggle="tab">Performance Averages</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active in" id="graph_avg">
			<div class="graphdiv" id="graph_div_6"></div>
			<div id="load_bar" class="progress_wrapper">
				<div class="progress progress-info progress-striped active">
					<div class="bar" style="width: 100%"></div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="graph_plot">
			<div class="graphdiv" id="graph_div_7"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
    compareByCountry("{{country}}");
	$('#calendar').daterangepicker(
			{ 
				format: 'YYYY-MM-DD',
				startDate: $('#start_date').val(),
				endDate: $('#end_date').val(),
				separator : ' to '
			},
			function(start, end) {
				$('#start_date').val(start.format('YYYY-MM-DD'));
				$('#end_date').val(end.format('YYYY-MM-DD'));
            }
	);
</script>
{% endblock %}
