<!DOCTYPE html>
<html>
	<head>
		<title>Network dashboard</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/docs/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<link rel="stylesheet" href="/static/jvectormap/jquery-jvectormap-1.2.2.css" type="text/css" media="screen"/>
		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="/static/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
		<script src="/static/jqIpLocation.js"></script>
		<script src="/static/countries_vis.js"></script>
		<script src="/static/calendar/daterangepicker.js"></script>
		<script src="/static/calendar/moment.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/calendar/daterangepicker.css" />
		
	</head>
	<body>
		{% block content %}
		<div class="content">
			<div style="float: right">
				<a class="btn" href="/"><i class="icon-home"></i> Home</a>
			</div>
			<h1>Compare Latencies by Country</h1>
			<br />
			<br />
			<br />

			<fieldset>
			  <div class="control-group">
			    <label class="control-label" for="daterange">Select date range:</label>
			    <div class="controls">
			      <div class="input-prepend">
				<span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="dates" id="daterange" />
			      </div>
			    </div>
			  </div>
			  <input type="hidden" name="startdate" id="startdate" value="2012-01-01"/>
			  <input type="hidden" name="enddate" id="enddate" />
			</fieldset>
			<table class="table table-striped table-condensed">
				<tr>
					<td> Measurment server: </td>
					<td class="right">
					<select id="serverselector">
						{% for server in server_list %}
						<script>
						  servers.push( { 
						                    name : '{{server.name}}',
						                    latLng : [{{server.latitude}}, {{server.longitude}}],
						                    ip : '{{server.ip}}'
						  } );
						</script>
						<option value={{forloop.counter0}}>{{server.name}}</option>
						{% endfor %}
					</select></td>
				</tr>						
			</table>
			<h2>Country Latency Map</h2>
			<br/>
			<div id="world-map" style="width: 100%; height:500px; background: url(/static/images/loading.gif) no-repeat center;" ></div>
			<div id="legend" style="background-image: linear-gradient(left , #FEE5D9 0%, #A50F14 100%);
						background-image: -o-linear-gradient(left , #FEE5D9 0%, #A50F14 100%);
						background-image: -moz-linear-gradient(left , #FEE5D9 0%, #A50F14 100%);
						background-image: -webkit-linear-gradient(left , #FEE5D9 0%, #A50F14 100%);
						background-image: -ms-linear-gradient(left , #FEE5D9 0%, #A50F14 100%);
						background-image: -webkit-gradient(
						linear,
						left bottom,
						right bottom,
						color-stop(0, #FEE5D9),
						color-stop(1, #A50F14)
						);
						width: 300px;
						height: 15px;">
			</div>
			<p style="font-size: 80%; color: #777;">0 ms<img width="240px"/>500 ms</p>
		</div>
		{% endblock %}
	</body>
</html>
