{% extends "base.html" %}
{% block content %}

<div class ="section">
    <h1>BISMark Device: {{ deviceid }}            <a href ="/editDevicePage/{{deviceid}}/"> Edit </a></h1>
<script src="/static/jquery-latest.js"></script>
    <table>
	<!--
        <tr><td>MAC Address</td><td>{{ detail.macid }}</td></tr>
        <tr><td>Type</td><td>{{ detail.type }}</td></tr>
        <tr><td>Operating System</td><td>{{ detail.os }}</td></tr> -->
        <tr><td>Name</td><td>{{ detail.name }}</td></tr>
        <tr><td>ISP</td><td>{{ detail.isp }}</td></tr>
        <tr><td>Location</td><td><div id="location{{ deviceid }}"></div><script type="text/javascript">

		$.ajax({
                type: "GET",
                url: "/getLocation/{{ deviceid }}/",
                success: OnSuccess,
            });
		
		function OnSuccess(data)
		{
		document.getElementById('location{{ deviceid }}').innerHTML = data;
		}

		</script></td>
        </tr>     
        <tr><td>Service Plan</td><td>{{ detail.serviceplan }}</td></tr>
        <tr><td>Download Rate</td><td>{{ detail.downloadrate}} kbps</td></tr>
        <tr><td>Upload Rate</td><td>{{ detail.uploadrate}} kbps</td></tr>
    
 
  
        
	

<tr><td>First Measurement</td><td>{{ firstUpdate }}</td></tr>
<tr><td>Last Measurement</td><td>{{ lastUpdate }}</td></tr>

 
<tr><td>Raw Data</td></td><td><a href="http://projectbismark.net/data/{{ deviceid }}">Download XML</a></td></tr>
</table>

</div>
<br />

<div class="section">

<script type="text/javascript" src="/static/swfobject.js"></script>
<script type="text/javascript" src="/static/dygraph-combined.js"></script>


        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true">
        </script>
        <script type="text/javascript">
            dojo.require("dijit.form.DateTextBox");http://danvk.org/dygraphs/dygraph-combined.js
            dojo.require("dijit.ProgressBar");
            dojo.require("dijit.Menu");
            dojo.require("dijit.MenuItem");
            dojo.require("dijit.form.RadioButton");
            dojo.require("dijit.form.Button");
            dojo.require("dijit.TitlePane");
            dojo.require("dijit.layout.ContentPane");
	   dojo.require("dijit.form.Textarea");
        </script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css"
        />

<body class=" claro " onload="CloseProgressBar();">

<label for="fraomDate">
            From:
        </label>
        
        <input id="fromDate" type="text" value="{{calenderFrom}}" name="fromDate" dojoType="dijit.form.DateTextBox"
        required="true" onChange="dijit.byId('toDate').constraints.min = arguments[0];" 
        />
        
        <label for="toDate">
            To:
        </label>
        <input id="toDate" type="text" value="{{calenderTo}}" name="toDate" dojoType="dijit.form.DateTextBox"
        required="true" onChange="dijit.byId('fromDate').constraints.max = arguments[0];"
        /><br/><br/>

<table border="0"> 

<tr>
<td>
<input type="radio" name="g1" id="g1rb3" value="weather" dojoType="dijit.form.RadioButton" checked>

<label for="g1rb3">Upload and Download Throughput (kbps)</label><br/><br/>

<input type="radio" name="g1" id="g1rb2" value="talk" dojoType="dijit.form.RadioButton">

<label for="g1rb2">Last-Mile Latency (ms)</label><br/><br/>
<!--
<input type="radio" name="g1" id="g1rb4" value="weather" dojoType="dijit.form.RadioButton">

<label for="g1rb4">Passive Usage</label><br/><br/>
<div class="chart" id="chart_demo" style="display:block;" ></div>
-->
<input type="radio" name="g1" id="g1rb1" value="news" dojoType="dijit.form.RadioButton">

<label for="g1rb1">Round Trip Time (ms)</label><br/><br/>






</td>
<td>



</td>
<tr/>

</table>

<button dojoType="dijit.form.Button" type="submit" name="submit" onClick="render()">Display</button>
</div>

        

<br />

<div class ="graphdisplay" id = "display_tag" >
    <div class="progressbar" id="progress"  indeterminate="true" title="loading" dojoType="dijit.ProgressBar"></div>
    <div class ="radiodiv" id ="radio_div">
    </div>
<!--    <div class ="radiodiv"
    <input type="radio" name = "mode" id="lin" onClick="setDisplayMode(false)" checked>
    <label for="lin">Linear</label>

    <input type="radio" name = "mode" id="log" onClick ="setDisplayMode(true)">
    <label for="log">Log</label><br /><br />
    </div>-->
    <div class ="graphdiv"id="graph_div"></div>
</div>
<script type="text/javascript">


	var content="[not loaded]";
	var limit = 9999999;
	var units = "val";
	var paramselect = "RTT";
        var connectpoints = false;
        var logscale = false;

	
	var loc = window.location.href;
	spl = loc.split('/');

	if(spl[spl.length-1].length>2) loc="/data_chart/"+spl[spl.length-1];
	else loc="/data_chart/"+spl[spl.length-2];
       	
	function start()
	{
            CloseProgressBar();
	}

	function createStyle()
	{

		if(g1rb1.checked)
		{
			limit = 1000;
			units = "msec"
			paramselect = "RTT"
                        connectpoints = true;
		}
		else if(g1rb2.checked)
		{
			limit = 1000;
			units = "msec"
			paramselect = "LMRTT"
                        connectpoints = true;
		}
		else if(g1rb3.checked)
		{
			limit = 200000;
			units = "kbps"
			paramselect = "AGGL3BITRATE"
                        connectpoints = false;
		}
                 
	}

        function OnSuccess(data)
        {
          content=data;

	  

             g = new Dygraph(document.getElementById("graph_div"),
                       content,
                       {
                       rollPeriod: 1,
                       showRoller: true,
                       logscale: logdisplay,
                       connectSeparatedPoints: connectpoints

                       }
                       );

	  
	 CloseProgressBar();
         addLabels();
         
        }
         
         function OnSuccess2(data)
        {
          content=data;

	  

	         g2 = new Dygraph(document.getElementById("graph_div2"),
			   content,
			   {
	      		   rollPeriod: 1,
	      		   showRoller: true,
                           logscale: logdisplay,
                           connectSeparatedPoints: true
	    		   }
			   );
	  
	 CloseProgressBar();
        }
        
        function setDisplayMode(log){
            g.updateOptions({logscale:log})
            g2.updateOptions({logscale:log})
        }
        

	
        function OnError(data)
        {
	  alert("data loading failed");
        }
        
        function deleteDivs(){
            
            graphs = [];
            var dtag = document.getElementById('display_tag');
            var l1 = document.getElementById('label1');
            var l2 = document.getElementById('label2');
            var gd2 = document.getElementById('graph_div2');
            
            if (l1){
                dtag.removeChild(l1);
            }
            if (l2){
                dtag.removeChild(l2);
            }
            if (gd2){
                dtag.removeChild(gd2);
            }
            
   
        }
        
        function createDiv(){
            var dtag = document.getElementById('display_tag');
            var gd2 = document.createElement('div');
            var divName = 'graph_div2';
            var divStyle = 'width:600px; height:300px; margin-left:auto; margin-right: auto;';
            gd2.setAttribute('id',divName);
            gd2.setAttribute('style',divStyle);
            dtag.appendChild(gd2);
            
        }
        
        function addRadios(){
            if(!document.getElementById('lin')){
                var rdiv = document.getElementById('radio_div');
                var r1 = "<input type='radio' name = 'mode' id='lin' onClick='setDisplayMode(false)' checked>"
                var r2 = "<input type='radio' name = 'mode' id='log' onClick='setDisplayMode(true)'>"
                rdiv.innerHTML = "Linear: ";
                rdiv.innerHTML += r1;
                rdiv.innerHTML += "Log: ";
                rdiv.innerHTML += r2;
            }
        }
        
        
        function addLabels(){
            
            
            var display = document.getElementById('display_tag');
            var label1 = document.createElement('div');
            
            if(paramselect == "AGGL3BITRATE"){
                label1.innerHTML = '<b>Download Throughput (kbps)</b> <br />';
                var label2 = document.createElement('div');
                label2.innerHTML = '<br/><br/><b>Upload Throughput (kbps)</b><br /><br />';
                var lname2 = 'label2';
                label2.setAttribute('id',lname2);
                label2.setAttribute('align','center');
                display.insertBefore(label2,display.lastChild);
            }
            else if(paramselect == "RTT"){
                label1.innerHTML = '<b> Round Trip Time (msec)</b><br /><br />';
            }
            else if(paramselect == "LMRTT"){
                label1.innerHTML = '<b> Last-Mile Latency (msec)</b><br /><br />';
            }
            
            var lname1 = 'label1';
            label1.setAttribute('id',lname1);
            label1.setAttribute('align','center');
            display.insertBefore(label1,display.firstChild);
            
            
    
        }
            
            
        
	
	function render()
	{
            
        deleteDivs();
	createStyle();
	OpenProgressBar();
        addRadios();
	
	
	$.ajax({
                type: "GET",
                url: loc,
                data: {'graphno' : 1, 'deviceid': "{{deviceid}}", 'param': paramselect, 'limit': limit, 'unit': units, 'start': fromDate.value, 'end': toDate.value},
                success: OnSuccess
            });
        
        if(paramselect=="AGGL3BITRATE"){
            createDiv();
            $.ajax({
                type: "GET",
                url: loc,
                data: {'graphno' : 2, 'deviceid': "{{deviceid}}", 'param': paramselect, 'limit': limit, 'unit': units, 'start': fromDate.value, 'end': toDate.value},
                success: OnSuccess2
            });
        }
        
        }

	function CloseProgressBar() {
		    var progressbar_container = document.getElementById("progress");
                progressbar_container.style.display="none";
		    document.getElementById("graph_div").display = "block";
		
        }

	function OpenProgressBar() {
		    var progressbar_container = document.getElementById("progress");
                progressbar_container.style.display="block";
		    
            
        }


</script>
</body>


{% endblock %}
