
{% extends "base.html" %}

{% block content %}
<h3>BISMark Devices</h3>
<style>
table thead tr,
table tfoot tr {
	background: #999999;
}

th, td{
 padding: 0px;
 border: 0px;
}

table.sortable thead {
    background-color:#eee;
    color:#222222;
    font-weight: bold;
    cursor: default;
}
</style>
<script src="/static/jquery-latest.js"></script>
<script src="/static/sorttable.js" type="text/javascript"></script>
{% if device_list %}
    <ul>
	
	    <table border="1" class="sortable">
	<tr>
		<th>Device</th>
		<th>Last Update</th>
		<th>ISP</th>
		<th>Plan</th>
	</tr>
    {% for device in device_list %}        

	<tr>
		<td><a href="/device/{{ device.deviceid }}/">{{ device.deviceid }}</a></td>
		<td><div id="d{{ device.deviceid }}"></div><script type="text/javascript">

		$.ajax({
                type: "GET",
                url: "/getLastUpdate/{{ device.deviceid }}/",
                success: OnSuccess,
            });
		
		function OnSuccess(data)
		{
		document.getElementById('d{{ device.deviceid }}').innerHTML = data;
		}

		</script></td>


		<td><div id="p{{ device.deviceid }}"></div><script type="text/javascript">

		$.ajax({
                type: "GET",
                url: "/getISP/{{ device.deviceid }}/",
                success: OnSuccess,
            });
		
		function OnSuccess(data)
		{
		document.getElementById('p{{ device.deviceid }}').innerHTML = data;
		}
		</script></td>


		<td><div id="i{{ device.deviceid }}"></div><script type="text/javascript">

		$.ajax({
                type: "GET",
                url: "/getPlan/{{ device.deviceid }}/",
                success: OnSuccess,
            });
		
		function OnSuccess(data)
		{
		document.getElementById('i{{ device.deviceid }}').innerHTML = data;
		}
		</script></td>


	</tr>
    {% endfor %}
     </table>
	</td>
	<td>



    </ul>


{% else %}
    <p>No polls are available.</p>
{% endif %}

  

{% endblock %}

