{% extends "base.html" %}

{% block content %}
<h3>BISMark Devices</h3>

{% if device_list %}
    <ul>
    {% for device in device_list %}
        <li><a href="/device/{{ device.deviceid }}/">{{ device.deviceid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script type="text/javascript" src="/static/swfobject.js"></script>
    <script type="text/javascript">
     swfobject.embedSWF(
     "/static/open-flash-chart.swf", "chart_demo",
     "820", "400", "9.0.0", "/static/expressInstall.swf",
     {"data-file":"/data/"} );
    </script>

  <div class="chart" id="chart_demo"></div>

{% endblock %}



