{% extends "base.html" %}
{% block content %}

<h1> Edit Device {{deviceid}} </h1> <br />


<form name ="edit" action="/device/" method="POST">
    <table border="0">
        <tr>
            <td>Name</td>
            <td>
                <input type ="text" name ="name" value = "{{detail.name}}" size ="20"/>
            </td>
        </tr>
  	<tr>
            <td>ISP</td>
            <td>
		<select name = "isp">

	   		{% for isp in isp_options %}
				{% if isp == detail.isp %}
 					<option selected>{{isp}}</option>
				{% endif %}
				{% if isp != detail.isp %}
 					<option>{{isp}}</option>
				{% endif %}
				
	   		{% endfor %}
		</select>

            </td>
        </tr>
        <tr>
            <td>Service Type</td>
            <td>
                <select name = "servicetype">
                    <option>DSL </option>
                    <option selected>Fiber</option>
                    <option>Cable</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Service Plan</td>
            <td>
                <input type ="text" name ="sp" value = "{{detail.serviceplan}}" size ="20"/>
            </td>
        </tr>
        <tr>
            <td>Upload Rate (kbps)</td>
            <td>
                <input type = "text" name ="urate" value = "{{detail.uploadrate}}" size ="20" />
            </td>
        </tr>
        <tr>
            <td>Download Rate (kbps)</td>
            <td>
                <input type ="text" name ="drate" value = "{{detail.downloadrate}}" size ="20" />
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input type ="text" name ="city" value = "{{detail.city}}" size="20"/>
            </td>
        </tr>
        <tr>
            <td>State</td>
            <td>
                <input type ="text" name ="state" value = "{{detail.state}}" size="20"/>
            </td>
        </tr>
        <tr>
            <td>Country</td>
            <td>
		<select name = "country">

	   		{% for country in country_options %}
				{% if country == detail.country %}
 					<option selected>{{country}}</option>
				{% endif %}
				{% if country != detail.country %}
 					<option>{{country}}</option>
				{% endif %}
				
	   		{% endfor %}
		</select>

            </td>
        </tr>
        
    </table>
    <input type ="hidden" name ="device" value = "{{deviceid}}"/>
    <input type ="hidden" name ="edit" value ="edit"/>
    <input type ="submit" value ="Submit Changes"/><br />
    
</form>


{% endblock %}
