{% extends "base.html" %}

{% block content %}

<script src="/static/jquery-latest.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<body onload="load()" onunload="GUnload()">

<div class="container" id="c3">
    <div class="page-header" id="page_header_1">
        <div class="header-text" id="header_text_1">
            <p><b>What is network dashboard?  </b>The <em>network dashboard</em> is
            a portal designed to help home users visualize properties of their
            home Internet connections.  To use the network dashboard, users
            install a BISMark-enabled gateway device in their home network.  The
            gateway device periodically uploads measurements of the user's
            Internet Service Provider to a centralized database, which the user
            can access via this portal.</p>

            <form method = "POST" name="device_form" action ="/device/">
                    <b>Enter Device MAC Address:</b><br /> 
                    <input type = "text" name = "device" value ="c43dc7a376d3"/>
                    <input class="btn btn-primary btn-large" id="submit_1" type = "submit" value = "Search"/>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class ="section" id="section_1">
                <div id="section_text_1">
                    <h1> Active Devices </h1>
                    <table class="info"> 
                        {% for country in country_data %}
                            <tr><td>{{country.count}} Device(s) found in {{country.country}}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class ="display" id="display_1"> 
                <div class ="outerContainer" id="outer_container_5">
                    <div class ="graphdiv" id="map"></div>
                </div>
           </div>
        </div>
    </div>
</div>
            
<script type="text/javascript">
    
    var locs = new Array();
    var delay = 5000;

    function load()
    {
        var mid = new google.maps.LatLng(0,0);
        var options = {
                zoom: 3,
                center: mid,
                mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map"),options);
        geocoder = new google.maps.Geocoder();


        $.ajax({
                type: "GET",
                url: "/getCoordinates/",
                success: OnSuccess
        });
        locs[0]= new google.maps.LatLng(40,-97);
        locs[1]= new google.maps.LatLng(-20,-58);
        locs[2]= new google.maps.LatLng(0,17);
        locs[3]= new google.maps.LatLng(49,30);
        locs[4]= new google.maps.LatLng(50,120);
        locs[5]= new google.maps.LatLng(-5,130);
        CycleMap(0);
    }
    
    function CycleMap(i){
        var mi = i;
        if(mi<locs.length){
            map.panTo(locs[mi]);
            mi++;
        }
        else{
            map.panTo(locs[0]);
            mi=1;
        }
        setTimeout(function(){CycleMap(mi)}, delay);
    }

    function OnSuccess(data){
        coordstring = data.split("\n");
        for (var i=0; i<coordstring.length-1; i++){
            var coords = coordstring[i].split(":");
            if(coords[1]=='coord'){
                var point = new google.maps.LatLng(parseFloat(coords[2]),parseFloat(coords[3]));
                var marker = new google.maps.Marker({
                        position: point
                })
                if (coords[0]=="server"){
                        marker.setIcon("/static/images/icon-blue.png")
                }
                else{
                        marker.setIcon("/static/images/icon-red.png");
                }

                marker.setMap(map);
            }
            else{
                geocoder.geocode( { 'address': coords[2]}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {

                                var marker = new google.maps.Marker({
                                        map: map,
                                        position: results[0].geometry.location
                                });
                        }
                });
            }
        }
    }

    function GUnload(){
            if (window.GUnloadApi)
            {
                    GUnloadApi();
            }
    }
</script>
</body>


	{% endblock %}



	
            
