{% extends "base.html" %}

{% block content %}

<body onload="load()" onunload="GUnload()">

<div class="content">
    <div id="header">
        <img id="logo" src="/static/images/bismark.gif" alt="BISmark logo"/>
        <div>
            <h1>Network Dashboard</h1>
        </div>
    </div>

    <p>The <em>network dashboard</em> is a portal designed to help home users
    visualize properties of their home Internet connections. To use the network
    dashboard, users install a BISMark-enabled gateway device in their home
    network. The gateway device periodically uploads measurements of the user's
    Internet Service Provider to a centralized database, which the user can
    access via this portal.</p>

    <div class="view_form">
        <form method="post" action="/device/">
            <input id="node_id" type="hidden" name="device" value=""/>
            <input id="view_button" class="btn btn-primary" type="submit"
            value="Show me data from my router" onclick="return expandEntry()"/>
        </form>
    </div>
    <div class="view_form">
        <form method="post" action="/device/">
            <input type="hidden" name="device" value="C43DC7B0B13F"/>
            <input class="btn" type="submit" value="Show me an example router"/>
        </form>
    </div>
    <div style="clear: both">
        <p id="advanced"><a href="#" onclick="return expandAdvanced()">Provide a BISmark router MAC address (advanced)</a></p>
    </div>
    <div id="detection_error" class="alert">
        <p>Please provide the MAC address of your BISmark router.</p>
        <form method="post" action="/device/">
            <input id="error_mac" type="text" name="device" placeholder="MAC address..."/>
            <input class="btn btn-primary" type="submit" value="Search"/>
        </form>
    </div>

    <h2>Map of Active BISmark Routers</h2>
    <div class ="outerContainer" id="outer_container_5">
        <div class ="graphdiv" id="map"></div>
		<ul id="tab_2" class="nav nav-tabs" style="clear: both">
			<li class="active"><a href="#country_list" data-toggle="tab">Country</a></li>
			<li><a href="#city_list" data-toggle="tab">City</a></li>
			<li><a href="#isp_list" data-toggle="tab">ISP</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active in" id="country_list">
				<table class = "tableheader">
						<tr>
							<td class = "tdright"><h3>Device Count</h3></td>
						<td>
				</table>
				<div class ="statsdiv" id="stats1">
					<table class="table table-striped table-condensed">
						{% for country in country_data %}
							<tr>
								<td>{{country.country}}</td>
								<td class = "tdright">{{country.count}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="tab-pane" id="city_list">
				<table class="tableheader">
						<tr>
							<td class = "tdright"><h3> Device Count</h3></td>
						<td>
				</table>
				<div class ="statsdiv" id="stats2">
					<table class="table table-striped table-condensed">
						{% for city in city_data %}
							<tr>
								<td>{{city.city}}, {{city.country}} ({{city.region}})</td>
								<td class = "tdright">{{city.count}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="tab-pane" id="isp_list">
				<table class="tableheader">
						<tr>
							<td class = "tdright"><h3> Device Count</h3></td>
						<td>
				</table>
				<div class ="statsdiv" id="stats3">
					<table class="table table-striped table-condensed">
						{% for isp in isp_data %}
							<tr>
								<td>{{isp.isp}}</td>
								<td class = "tdright">{{isp.count}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
var points = new Array();
/*
//delay after panning to new location
var delay = 5000;
//delay between zoomout-pan-zoomin
var animationDelay = 700;
//delay between zoom levels (currently bugs with googles continuous zoom methods, so this must be handled manually)
var innerAnimationDelay = 30;
*/

//threshold for panning map. Map will pam to the closest, unvisited node that is at least this far away (in kilometers)
var thresh = 1000;
var minZoom = 1;
var maxZoom = 5;

function MapPoint(latLng) {
    this.visited = false;
    this.latLng = latLng;
}
/*

function resetPoints() {
    for (var i = 0;i < points.length; ++i) {
        points[i].visited = false;
    }
}

function zoomIn() {
    var z = map.getZoom();
    if (z < maxZoom) {
        map.setZoom(z + 1);
        setTimeout(function(){zoomIn()}, innerAnimationDelay);
    }
}

function zoomOut() {
    var z = map.getZoom();
    if (z > minZoom) {
        map.setZoom(z - 1);
        setTimeout(function(){zoomOut()}, innerAnimationDelay);
    }
}

function panMap(coords) {
    map.panTo(coords);
}
*/

function load() {
    var mid = new google.maps.LatLng(0, 0);
    var options = {
        zoom: 1,
        center: mid,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false
    };

    map = new google.maps.Map(document.getElementById("map"),options);
    geocoder = new google.maps.Geocoder();

    $.ajax({
        type: "GET",
        url: "/getCoordinates/",
        success: OnSuccess
    });
    /*
    setTimeout(function(){cycleMap()}, delay);
    */

    var hosts = ['myrouter.projectbismark.net', 'myrouter.local', '192.168.142.1'];
    for (var idx in hosts) {
        $.ajax({
            type: "GET",
            url: "http://" + hosts[idx] + "/cgi-bin/dashboard-verify",
            success: function(data, textStatus, jqXHR) {
                var node_id = $.trim(data);
                if (node_id.length == 12) {
                    $("#node_id").val(node_id);
                    $("#view_button").removeAttr("onclick");
                }
            }
        });
    }
}
/*
function expandEntry() {
    $('#view_button').addClass('disabled');
    $('#view_button').removeClass('btn-primary');
    return expandAdvanced();
}

function expandAdvanced() {
    $('#detection_error').show();
    $('#error_mac').focus();
    $('#advanced').hide();
    return false;
}*/

/*
function cycleMap(){
    var mid = map.getBounds().getCenter();
    var next = mid;
    //in kilometers
    var shortestDist = 0;
    for(var i = 0; i < points.length; ++i) {
        if (!points[i].visited) {
            var d = google.maps.geometry.spherical.computeDistanceBetween(mid,points[i].latLng)/1000;
            if (d < thresh) {
                points[i].visited=true;
            }
            else if (d < shortestDist || shortestDist == 0) {
                next = points[i];
                shortestDist = d;
            }
        }
    }
    if (shortestDist==0){
        resetPoints();
        cycleMap();    
    }
    else{
        zoomOut();
        setTimeout(function() { panMap(next.latLng) }, animationDelay);
        setTimeout(function() { zoomIn() }, animationDelay * 2);
        setTimeout(function() { cycleMap() }, delay + animationDelay * 2);
    }
}
*/
function OnSuccess(data) {
    var coordstring = data.split("\n");
    for (var i = 0; i < coordstring.length - 1; ++i){
        var coords = coordstring[i].split(":");
        if (coords[1] == 'coord') {
            var point = new google.maps.LatLng(parseFloat(coords[2]), parseFloat(coords[3]));
            points.push(new MapPoint(point));
            var marker = new google.maps.Marker({
                    position: point
            });
            if (coords[0] == "server") {
                marker.setIcon("/static/images/icon-blue.png")
            } else {
                marker.setIcon("/static/images/icon-red-dot.png");
            }

            marker.setMap(map);
        } else {
            geocoder.geocode({ 'address': coords[2]}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }
    }
}

function GUnload(){
    if (window.GUnloadApi) {
        GUnloadApi();
    }
}
</script>

{% endblock %}
